/* paleta de colores*/
:root { 
    --blanco: #ffffff; /* claridad en el diseño */
    --grisClaro: #EEEEEE; /* Inputs */
    --oscuro: #212121; /* Texto */
    --verdeMenta: #A9DFBF; /* areas de disponibilidad */
    --azulPizarra: #34495E; /* secciones principales */
    --azulCielo:  #5DADE2; /* botones*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /*Centra vertical*/
    align-items: center;
    background-color: var(--grisClaro);
}

.container {
    width: 80rem;
    height: 50rem;
    display: flex;
    position: relative;
    background-color: var(--blanco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.container__form {
    width: 100%;
    overflow: hidden;
}

.container__form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.container__form h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container__form span {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.container__input {
    width: 30rem;
    height: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1.5rem;
    background-color: var(--grisClaro);
}

.container__input input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.container__form a {
    color: var(--oscuro);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.container__button {
    width: 17rem;
    height: 4.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--azulCielo);
    color: var(--blanco);
}

/* Animación del login */
.container__form-sign-up {
    transform: translateX(-100%);
}

.container.toggle .container__form-sign-in {
    transform: translateX(100%);
}

.container.toggle .container__form-sign-up {
    transform: translateX(0);
}

/*Bienvenido*/
.container__welcome {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: var(--verdeMenta);
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}

.container.toggle .container__welcome {
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: var(--azulCielo);
}

.container__welcome .welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: var(--blanco);
    transition: transform 0.5s ease-in-out;
}

.container__welcome-sign-in {
    transform: translateX(100%);
}

.container__welcome h3 {
    font-size: 40px;
}

.container__welcome p {
    font-size: 14px;
    text-align: center;
}

.container__welcome .container__button {
    border: 2px solid white;
    background-color: transparent;
}

.container.toggle .container__welcome-sign-in {
    transform: translateX(0);
}

.container.toggle .container__welcome-sign-up {
    transform: translateX(-100%); 
}